*{
   
    padding:5px 15px;
    margin:5px 20px;
}
html{
    padding:0;
    margin:0;
}
body{
    background:   url(https://images.pexels.com/photos/1591373/pexels-photo-1591373.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) rgba(0,0,57, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    font-size: larger;
}
.sms-container{
    width:70vw;
    margin:40px auto;
    text-align: center;
    padding:0;
    
}
form{
    width:50%;
    margin:auto;

}
input, textarea{
    width:100%;
    border-radius: 5px;
    border:none;
    /* outline */
    outline-style: solid;
    outline-width: 2px;
    outline-color: darkred;
    outline-offset: -2px;
}
h1{
    color:#fff;
}
form label{
    min-width:100%;
    text-align: left;
    display: block;
}
input[type='submit']{
    font-weight: 700;
    letter-spacing: 2px;
    font-size: large;
    line-height: 50px;
    cursor: pointer;
}
.response-container{
    display:none;
    width:50%;
    margin:auto;
    text-align:left;
}